html {
  height: 100%;
}

body {
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.disabled,
.disabled:hover,
.disabled:active {
  background-color: darkslategray;
  color: rgb(53, 99, 99);
  cursor: not-allowed;
  transform: none;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 48px;
  margin-bottom: 20px;
}

.slot-machine {
  width: 30%;
  margin: 40px auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.reel span {
  font-size: 36px;
  font-weight: bold;
  margin: 0 10px;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slot-machine .buttons {
  gap: 1em;
}

.slot-machine .buttons button {
  width: 33%;
}

.slot-machine .buttons.extra-buttons *:first-child {
  width: 50%;
}

.slot-machine .buttons.extra-buttons * {
  width: 30%;
}

.slot-machine .extra-buttons *:last-child {
  width: 20%;
}

#tienda {
  background-color: gold;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  transform: translateY(2px);
}

#message {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#restablecerMessage {
  font-size: 19px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

select {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

select:hover {
  background-color: #2e6da4;
}

select:active {
  transform: translateY(2px);
}

select option {
  direction: rtl;
}

#auth-section {
  width: 320px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 auto;
}

#auth-section h2 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  margin-bottom: 20px;
}

#auth-section form {
  margin-top: 10px;
  margin-bottom: 20px;
}

#auth-section button {
  margin-top: 10px;
}

#auth-section #showRestablecer {
  margin-top: 20px;
}

#auth-section input[type="text"],
#auth-section input[type="password"],
#auth-section input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

#auth-section input[type="text"]:focus,
#auth-section input[type="password"]:focus,
#auth-section input[type="email"]:focus {
  border-color: #4caf50;
  outline: none;
}

#logout-button {
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 20px auto;
  background-color: rgb(186, 32, 32);
}

.coins-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.coins-amount {
  margin: 0;
  padding: 0;
}

#ranking-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 28%;
  background-color: #333;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#ranking-panel h3,
#premios-panel h3 {
  text-align: center;
  letter-spacing: 2px;
}

#ranking-panel hr,
#premios-panel hr {
  transform: translateY(-10.5px);
  width: 90%;
}

#ranking-panel table,
#premios-panel table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  table-layout: fixed;
}

#ranking-panel table td~td {
  text-align: center;
  padding-left: 2em;
}

#premios-panel table td~td {
  padding-top: 0.1em;
}

#premios-panel table td:first-child {
  text-align: center;
}

#premios-panel table td:last-child {
  white-space-collapse: preserve;
}

#ranking-panel table td:first-child,
#premios-panel table td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#premios-panel {
  position: absolute;
  top: 15%;
  right: 20px;
  width: 28%;
  background-color: #333;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 500%;
  }

  .slot-machine,
  #ranking-panel,
  #premios-panel {
    width: 80%;
    margin: 20px auto;
  }

  .reel {
    height: 5vh;
  }

  .reel span {
    width: 100%;
    height: 100%;
    font-size: 500%;
  }

  .buttons,
  #showRestablecer {
    padding: auto;
  }

  .buttons button,
  #showRestablecer {
    font-size: 300%;
  }

  #skin {
    width: 100%;
    height: 5vh;
    font-size: 300%;
  }

  #ranking-panel,
  #premios-panel {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding-bottom: 2vh;
  }

  #ranking-panel h3,
  #premios-panel h3,
  #ranking-panel table td,
  #premios-panel table td,
  #message,
  #restablecerMessage {
    font-size: 300%;
  }

  #ranking-panel table,
  #premios-panel table {
    width: 100%;
  }

  #logout-button {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: auto;
    margin: 0 auto;
    font-size: 24px;
  }

  #ranking-panel table td:first-child,
  #premios-panel table td:first-child {
    padding-left: 10%;
  }

  #ranking-panel table td~td,
  #premios-panel table td~td {
    padding-left: 0;
  }

  #coins-amount {
    font-size: 200%;
    padding: 1vw;
  }

  #message,
  #restablecerMessage {
    margin-top: 20px;
  }

  #ranking-panel hr,
  #premios-panel hr {
    transform: translateY(-27px);
    width: 90%;
  }

  #auth-section {
    padding: 30px;
    width: 80%;
  }

  #auth-section input[type="text"],
  #auth-section input[type="password"],
  #auth-section input[type="email"] {
    font-size: 300%;
    padding: 24px 40px;
    margin: 20px 0;
  }

  #auth-section button {
    padding: 20px 40px;
    margin: 20px 0;
  }

  #auth-section h2 {
    font-size: 500%;
    margin-top: 20px;
  }
}